## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Atuona,PF,77.79,light rain,-9.8000,-139.0333,Villa Enata
1,15,Kismayo,SO,77.32,overcast clouds,-0.3582,42.5454,Agan-Hotel
2,16,Phuket,TH,84.99,scattered clouds,8.0000,98.2500,The Surin
3,17,Sola,VU,81.88,moderate rain,-13.8833,167.5500,Leumerus Bungalows
4,18,Bandarbeyla,SO,75.06,few clouds,9.4942,50.8122,JABIR HOTEL
...,...,...,...,...,...,...,...,...
179,713,Oussouye,SN,75.38,scattered clouds,12.4850,-16.5469,Auberge du Routard
180,714,Caravelas,BR,77.70,scattered clouds,-17.7125,-39.2481,Pousada dos Navegantes
181,719,Almeirim,BR,75.49,broken clouds,-1.5233,-52.5817,Ricácio Hotel
182,723,Santarem,BR,77.13,few clouds,-2.4431,-54.7083,Ecotur Lodge
183,727,Kavaratti,IN,77.81,few clouds,10.5669,72.6420,Hotels in Lakshadweep Islands

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cairns"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Cairns"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Bowen"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Emerald"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mount Isa"]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
aus_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(aus_itinerary)

# Show the fig
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,520,Cairns,AU,85.10,scattered clouds,-16.9167,145.7667,Mantra Trilogy Cairns
1,557,Bowen,AU,80.82,overcast clouds,-20.0167,148.2333,Castle Motor Lodge Motel
2,631,Emerald,AU,78.94,clear sky,-23.5333,148.1667,The Irish Village
3,363,Mount Isa,AU,78.57,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))